/* Global Layout Setting */
* { 
    box-sizing: border-box;
}

/* Elements */

body {
    margin: 0;
    text-align: center;
    color: #f4f0f0;
    background: #3da4ab;
    font-family: 'Roboto', sans-serif;
    padding: 0;
}

form {
    text-align: left;
}

fieldset,
button {
    border: none;
    margin: 0;
}

h1 {
    background: #f6cd61;
    color: #817b7b;
    margin: 0;
    padding: 1.2em 0;
    font-size: 1.5em;
}

legend {
    line-height: 1.5;
    font-size: 1.5em;
}

label,
input {
    display: inline-block;
    line-height: 2;
}

select {
    color: #817b7b;
}
input:active {
    border: 2px white solid;
}

textarea {
    width: 100%;
    height: 90px;
    border-radius: 5px;
    border: 1px solid #f6cd61
}

.signup {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #817b7b;
    background-color: #f6cd61;
    color: #817b7b;
    font-weight: 500;
    font-size: 1.3em;

}

.signupdiv {
    padding: 0.35em 0.75em 0.625em;
}

/* Classes */

.p1 {
    padding-bottom: 1em;
    border-bottom: 6px double #817b7b;
}

.field-one {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #f6cd61;
    padding: 0 1em;
}

.second-header {
    margin: 0 .7em;
}

.divider {
    border-bottom: 2px double #817b7b;
    margin: .7em;
}

.footer {
    font-size: 14px;
}


/* ID's */

#state {
    background: #f4f0f0;
}


#zip {
    width: 50%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #f6cd61;
    background: #f4f0f0;
}


select::after {
    content: "url(img/arrow.svg";
	display: inline-block;
	width: 24px;
	height: 24px;
}


input::-webkit-input-placeholder {
    text-align: right;
}
  input:-moz-placeholder {
    text-align: right;
}
  input::-moz-placeholder {
    text-align: right;
}
  input:-ms-input-placeholder {
    text-align: right;
}

/* MEDIA QUERIES */
  @media (min-width: 768px) {
    .wrapper {
        max-width: 1024px;
        width: 70%;
        margin: 0 auto;
    }
    .field-one {
        width: 65%;
    }

    .divide {
        display: flex;
        padding: .4em;
    }

    label {
        flex: 1;
    }
}